{% extends "layout.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Join Today</legend>
            <div>
                {{ form.username.label() }}

                {% if form.username.errors %}
                {{ form.username() }}
                <div>
                    {% for error in form.username.errors %}
                    <span><font color="red">{{ error }}</font></span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username() }}
                {% endif %}
            </div>
            <div>
                {{ form.email.label() }}
                {% if form.email.errors %}
                {{ form.email() }}
                <div>
                    {% for error in form.email.errors %}
                    <span><font color="red">{{ error }}</font></span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email() }}
                {% endif %}
            </div>
            <div>
                {{ form.password.label() }}
                {% if form.password.errors %}
                {{ form.password() }}
                <div>
                    {% for error in form.password.errors %}
                    <span><font color="red">{{ error }}</font></span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password() }}
                {% endif %}
            </div>
            <div>
                {{ form.confirm_password.label() }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password() }}
                <div>
                    {% for error in form.confirm_password.errors %}
                    <span><font color="red">{{ error }}</font></span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password() }}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
<div>
    <small>
        Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>
{% endblock content %}